.circleLegend {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display:inline-block;
     border-color: white;
     border: solid 0.0em;
    /*color : white;*/
}
.orangeColor {
    background: #fd8d3c;
}
.redColor {
    background: #bd0026;
}
.rdotColor {
    background: #b04040;
}
.textRed {
	color:#b2182b;
}